<p><%= mailer.translate(:greeting, recipient: @resource.email) %></p>

<p><%= mailer.translate(:instruction) %></p>

<p><%= link_to mailer.translate(:link), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= mailer.translate(:instruction_2) %></p>
<p><%= mailer.translate(:instruction_3) %></p>
